@import 'bootstrap/dist/css/bootstrap';


.navbar {
	background-color: black !important;
}

.nav-link {
	color: white !important;
}

#logo {
	float: left;
	color: white;
	letter-spacing: -1px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.7em;
}

#page-content {
	background-color: lightgrey;
}

#home-container {
	margin-top: 25px;
}

.jumbotron {
	background-image: asset-url('tetons2');
	background-position: center center;
	background-size: cover;
	margin-top: 50px;
	height: 450px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

#footer-link {
	text-decoration: underline;
}

#create-button {
	margin-left: 10px;
	position: absolute;
}






