  <footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy;  <%= link_to 'Harrison Woodward', "https://www.linkedin.com/in/harrison-woodward-705100a0", class: "text-white", id: "footer-link"%></small>
    </div>
  </footer>